@import url('https://fonts.googleapis.com/css2?family=Life+Savers&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Project Section CSS */

.projectSection {
    background-color: #667BC6;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectContainer {
    width: 100%;
    max-width: 1174px;
}

.projectTitle {
    color: #FFFFFF;
    font: 400 64px 'Life Savers', -apple-system, Inter, sans-serif;
    margin-bottom: 24px;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Project Card CSS */
.projectCard {
    border-radius: 20px;
    background-color: #fdFFD2;
    display: flex;
    flex-direction: column;
    padding: 17px 18px 44px;
    min-width: 240px;
    width: 100%;
}

.projectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 900 26px Raleway, sans-serif;
    margin-bottom: 8px;
}

.projectName {
    margin: 0;
}

.projectIcon {
    aspect-ratio: 1.09;
    object-fit: contain;
    width: 72px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.projectIcon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.projectDescription {
    font: 400 16px Inter, sans-serif;
    margin-bottom: 10px;
}

.technologiesList {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 4px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.technologyItem {
    border-radius: 20px;
    background-color: #DA7297;
    color: #FFFFFF;
    font: 400 14px Inter, sans-serif;
    padding: 4px 10px;
    white-space: nowrap;
}

.technologyItem:hover{
    background-color: #667BC6;
}

.container {
    z-index: 10;
    display: flex;
    margin-left: 15px;
    width: 100%;
    max-width: 1269px;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.pinkLine {
    z-index: 10;
    display: flex;
    width: 100%; 
    max-width: 1269px;
    min-height: 18px;
    margin: 49px auto -14px; 
    border-radius: 20px;
    background-color: rgba(255, 180, 194, 1);
}

@media (max-width: 991px) {
    .projectSection {
        padding: 0 20px;
    }

    .projectTitle {
        font-size: 40px;
    }

    .projectGrid {
        grid-template-columns: 1fr;
    }

    .projectCard {
        padding-left: 20px;
    }

    .container {
        max-width: 100%;
    }

    .pinkLine {
        margin: 40px 0 10px;
    }
}