.footer {
    display: flex;
    flex-direction: column;
}

.contactSection {
    background-color: #667bc6;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 82px 70px;
}

.contactWrapper {
    width: 100%;
    max-width: 1027px;
}

.contactContent {
    gap: 20px;
    display: flex;
}

.textColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 58%;
    margin-left: 0;
}

.contactHeading {
    align-self: stretch;
    color: #fff;
    margin: auto 0;
    padding: 10px;
    font: 700 64px Life Savers, -apple-system, Roboto, Helvetica, sans-serif;
}

.iconColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 20px;
}

.contactIcons {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: start;
}

.iconWrapper {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: auto 0;
    padding: 3px;
}

.icon {
    object-fit: contain;
    object-position: center;
    align-self: stretch;
    margin: auto 0;
    transition: transform 0.3s ease-in-out;
}

.iconWrapper:hover .icon{
    transform: scale(1.1);
}

.copyrightSection {
    background-color: #fdffe2;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    color: #000;
    justify-content: center;
    text-align: right;
    padding: 13px 70px;
    font: 700 24px Life Savers, -apple-system, Roboto, Helvetica, sans-serif;
}

.copyrightText {
    align-self: stretch;
    padding: 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.pinkLine {
    z-index: 10;
    display: flex;
    width: 100%; 
    max-width: 1269px;
    min-height: 18px;
    margin: 49px auto -14px; 
    border-radius: 20px;
    background-color: rgba(255, 180, 194, 1);
}

@media (max-width: 991px) {
    .contactSection {
        max-width: 100%;
        padding: 0 20px;
    }

    .contactWrapper {
        max-width: 100%;
    }

    .contactContent {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .textColumn {
        width: 100%;
    }

    .contactHeading {
        max-width: 100%;
        font-size: 40px;
        margin-top: 40px;
    }

    .iconColumn {
        width: 100%;
    }

    .contactIcons {
        margin-top: 40px;
    }

    .copyrightSection {
        max-width: 100%;
        padding: 0 20px;
    }

    .pinkLine {
        margin: 40px 0 10px;
    }
}