@import url('https://fonts.googleapis.com/css2?family=Life+Savers&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.headerSection {
  background-color: rgba(102, 123, 198, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 73px 70px;
  padding-top: 113px;
}

@media (max-width: 991px) {
  .headerSection {
    max-width: 100%;
    padding: 0 20px;
  }
}

.container {
  margin-left: 35px;
  width: 100%;
  max-width: 1057px;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.contentWrapper {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .contentWrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.textColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .textColumn {
    width: 100%;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #fff;
  margin: auto 0;
  font: 400 20px Inter, sans-serif;
}

@media (max-width: 991px) {
  .textContent {
    max-width: 100%;
    margin-top: 40px;
  }
}

.greeting {
  align-self: start;
  font: 96px Life Savers, sans-serif;
}

@media (max-width: 991px) {
  .greeting {
    font-size: 40px;
  }
}

.name {
  align-self: start;
  margin-top: 44px;
  font: 900 64px Raleway, sans-serif;
}

@media (max-width: 991px) {
  .name {
    margin-top: 40px;
    font-size: 40px;
  }
}

.description {
  margin: 56px 34px 0 0;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}

.education {
  margin-top: 23px;
}

@media (max-width: 991px) {
  .education {
    max-width: 100%;
  }
}

.imageColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .imageColumn {
    width: 100%;
  }
}

.profileImage {
  aspect-ratio: 0.85;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 0;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .profileImage {
    max-width: 100%;
    margin-top: 25px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}